.notification
	%div.notice チャットグループが作成されました

.side-bar
	.header
		%h3.user_name masakikumiko
		%ul.header_icons
			%li.edit_user_groups
				%i.fa.fa-pencil-square-o.icon



			%li.sign_in
				%i.fa.fa-cog.icon
	.groups
		%div.p アウトプット

.chat
	.header
		%div.p アウトプット
	.message
		%div.p masakikumiko
.form
	%textbox
	%i.fa.fa-picture-o.icon
	%input.form__submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/