// 左側メニューバー
.side-bar {
	box-sizing: border-box;
	width: 300px;
	color:#FFFFFF;

	.header {
		background-color: #253141;
		height:100px;
		line-height:100px;
		padding: 0 20px;

		h3 {
		font-size: 16px;
		font-weight: bold;
		display: inline-block;
		}
}
		ul.header__lists {
			display: inline-block;
			float:right;

			li.list {
			display: inline-block;
			cursor: pointer;
			}
		}
}
.groups {
	background-color: #2f3e51;
	height: calc( 100vh - 100px);
	padding: 0 20px;

	.group {
		box-sizing: border-box;
		padding: 20px 0 40px;
		cursor: pointer;

		&__name {
			font-size: 15px;
			display: block;
		}
		&__message {
			font-size: 11px;
		}
}
}