body{
	width: 100%;
	height:100%;
	display: block;
}

.notification {
	background: #38AEF0;
	width:100%;
	margin:0;
	padding:0;

	.notice {
	color:#FFFFFF;
	text-align: center;
	}
}

.side-bar {
  background: #2f3e51;
  color:#FFFFFF;
  width:300px;
  height:500px;
  padding: 0, 20px;
  float:left;
  display: block;

  header {
  	background: #253141;
  	color:#FFFFFF;
  	font-size:16px;
  	height:100px;
  	display:inline-block;

	h3 {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	display: flex;
	margin: 20px, 0;
	}

	.li.edit_user_groups {
	display: -webkit-flex;
	}


	.li.sign_in {
	display: -webkit-flex;
	}
}
}

.chat {
	width: calc( 100vw - 300px);
	height:auto;
	float:right;

	header {
		p {
			font-weight: 35px;
			font-size: 20px;
			color:#333333;
		}
	}

	.message {
	background: #AAAAAA;
	}
		p{
			color:#434A5A;
		}
		.form {
			display: inline-block;
			color:#FFFFFF;
			background: #38AEF0;
		}
		i.far.fa-imagez{

		}
}

